header {
  margin: 0px 50px 0px 50px;
  padding: 50px;
  border-bottom: 1px solid #F8F8F8;

    .logoText {
      color: #FFFFFF;
      margin-top: 6px;
    }
    .headerCart {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    .headerHeart {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    .headerUser {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    ul span {
      color: #ffffff;
    }

    h3,
    p {
      margin: 0 auto;
    }
}